<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HuffZip/src/TextZip.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="TextZip"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-f&#13;&#10;F:\大二小学期\第二次作业要求\第二次作业要求\huffman\huffman\a.txt&#13;&#10;F:\大二小学期\第二次作业要求\第二次作业要求\huffman\huffman\a.txz"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HuffZip"/>
<booleanAttribute key="org.eclipse.jdt.launching.STOP_IN_MAIN" value="true"/>
</launchConfiguration>
